@import '../../../../../assets/css/dash.scss';
@import '../../../../../assets/css/variables.scss';
@import '../../../../../assets/css/mixins.scss';
@import '../../../../../assets/css/modal.scss';

.data-sect {
    @include white-container();
    &_header {
        padding: $s-1;
        background-color: $divider-color1;
        &_list {
            justify-content: space-between;
            gap: $s-2;
        }
    }

}

// :host ::ng-deep .p-button:enabled:hover {
//     background: red;
//     color: #ffffff;
//     border-color: #0d89ec;
// }

// :host ::ng-deep .p-button {
//     /* margin-right: 0.5rem; */
//     background-color: #2d205e;
//     color: white;
// }

